:root {
  --cursiveFont: 'Pinyon Script', cursive;
  --blockFont: 'Roboto', sans-serif;
  --red: rgb(191,10,58);
  --blue: rgb(2,135,217);
  --white: rgb(242,242,242);
  --smallFont: 1rem;
  --medFont: 1.5rem;
  --largeFont: 2.5rem;
  --padding: 1em;
  --margin: 1em;
}

body {
  font-family: var(--blockFont);
}

.image.header-logo {
  width: 6rem;
}

.logo {
  width: 30%;
}

.container.home-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--largeFont);
  margin: var(--margin);
}

.container.home-info {
  width: 75%;
}
