.performance-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.performance-body .performance-title {
  margin-top: 2rem;
  margin-bottom: 0;
}
.search-bar {
  margin: 2.5rem;
}
.search-bar .ui.search .ui.icon.input .prompt {
  border-color: var(--tealOpaque);
}
.search-results{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
