.ui.secondary.pointing.menu {
	align-items: center;
    padding: 0 1.14285714em;
    /* height: 4em; */
}
.left-menu {
    display: flex;
}
.ui.secondary.pointing.menu button:not(:last-child) {
    margin-right: 1.14285714em;
}
.ui.secondary.pointing.menu span {
    font-weight: 700;
}
.image.logo-image {
    width: 1.2em;
    margin-right: .5em;
}
.ui.secondary.pointing.menu .item {
   transition: border-bottom .5s ease-in-out;
}
.ui.secondary.pointing.menu .item:hover {
    border-bottom: 2px solid var(--red);
}